
// Color Schemas

$theme-ffffff:      #ffffff;
$theme-141f72:      #141f72; // blue
$theme-1fb8a6:      #1fb8a6; // green
$theme-da203e:      #da203e; // red
$theme-000000:      #000000;
$theme-1e83f0:      #1e83f0;
$theme-f9f9f9:      #f9f9f9;
$theme-888888:      #888888;
$theme-202020:      #202020;
$theme-b1b1b1:      #b1b1b1;
$theme-222b38:      #222b38;
$theme-888888:      #888888;
$theme-8b91dd:      #8b91dd;
$theme-7a8493:      #7a8493;
$theme-12171e:      #12171e;
$theme-f4f5fa:      #f4f5fa;
$theme-f1f1f1:      #f1f1f1;
$theme-f4f4f4:      #f4f4f4;


